<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="{{ page.url | relative_url }}"><img class="card-img-top" src="{{ page.image | default: '/assets/images/welcome-post.jpg' | relative_url }}" alt="{{ page.title }}"></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      </h4>
      <p class="card-text">{{ page.excerpt | default: page.content | strip_html | truncatewords: 30 }}</p>
    </div>
  </div>
</div>